*{
	margin: 0;
	padding: 0;
}

body{
	font-family: Tahoma, sans-serif;
	color: white;
}

a{
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 0.9em;
}

header{
	background-color: #234465;
	width: 100%;
	height: 100px;
}

	header a img{
		margin-top: 10px;
		margin-left: 15px;
		position: absolute;
	}

header div{
	display: inline-block;
	vertical-align: top;
	margin-left: 930px;
	margin-top: 22px;
}

header ul{
	display: inline-block;
}

	header div .menu, header div form{
		display: inline-block;
		vertical-align: top;
	}

	header div .menu{
		text-decoration: none;
		list-style-type: none;
	}

		header div .menu li{
			width: 65px;
			height: 25px;
			display: block;
			text-align: center;
			padding-top: 5px;
			padding-bottom: 5px;
			margin-left: 5px;
		}

			header .menu li:hover{
				background-color: orange;
				border-radius: 5px;
			}

				header div .menu li a{
					vertical-align: middle;
				}

header form{
	width: 230px;
}

header div form input[type="text"]{
	width: 220px;
	height: 25px;
	margin-top: 5px;
	border-radius: 3px;
	border: none;
	padding-left: 5px;
	position: absolute;
}

header div form button{
    background-color: #fff;
    border: none;
    border-left: solid 1px lightgray;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: 203px;
    position: relative;
    margin-top: 5px;
}

header div form button:hover{
	background-color: orange;
}

header div form button img{
    width: 22px;
    height: 25px;
    vertical-align: middle;
}

header .menu-down{
	width: 840px;
	display: inline-block;
	padding-left: 480px;
	position: relative;
}

header .menu-down li{
	display: inline-block;
	position: relative;
	margin-right: 1%;
	color: white;
	padding: 7px;
	border-radius: 5px;
}

header .menu-down li a{
	color: white;
	font-weight: bold;
	position: relative;
}

header .menu-down li:hover{
	background-color: orange;
}

header ul ul{
	display: none;
}

header ul ul li{
	width: 170px;
}

header .sub-menu li a{
	font-weight: normal;
}

header .menu-down li:hover ul{
	position: absolute;
	display: block;
	background-color: #234465;
	margin-top: 7px;
	width: 190px;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;
}
