@model PagedList.IPagedList<Bookmarks.Web.ViewModels.BookmarkViewModel>
@{
    ViewBag.Title = "All bookmarks";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    @Html.DisplayFor(x => x);
</div>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

