@{
    ViewBag.Title = "Home Page";
}
@model IEnumerable<Bookmarks.Web.ViewModels.BookmarkViewModel>
<div class="jumbotron">
    <h1>Bookmarks</h1>
</div>

<div class="row">
    @Html.DisplayFor(x => x)
</div>

@Html.ActionLink("View all bookmarks", "Index", "Bookmarks", new{}, new{ @class = "btn btn-primary pull-right" });