@{
    ViewBag.Title = "Home Page";
}
@model IEnumerable<Bookmarks.Web.ViewModels.BookmarkViewModel>
<div class="jumbotron">
    <h1>Bookmarks</h1>
</div>

<div class="row">
    @Html.DisplayFor(x => x)
</div>

<a href="~/Bookmarks" class="btn btn-primary">View all bookmarks...</a>