*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Tahoma Helvetica sans-serif;
    font-size: 11px;
}

#wrapper{
    width: 40%;
    /*background-color: lightgray;*/
    margin: 3% auto;
}

article{
    width: 140px;
    display: inline-block;
    padding-left: 3%;
    padding-bottom: 5%;
}

article a{
    background-color: white;
}

article header{
    border: 1px solid lightgray;
    margin-bottom: 15px;
}

article section p{
    padding-bottom: 5px;
}

article section p:first-child{
    text-transform: uppercase;
}

article section p:nth-child(2){
    color: gray;
}

article section p:nth-child(3){
    color: darkred;
}

article footer img{
    width: 110px;
    height: 17px;
    /*height: 15px;*/
    border-radius: 5px;
    position: absolute;
}

article footer span{
    text-transform: uppercase;
    position: relative;
    padding-left: 12%;
    color: dimgray;
    font-size: 10px;
}

.second-article section p:nth-child(3){
    padding-bottom: 12%;
}